In [348]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', 74)
pd.set_option('display.max_rows', 40)

In [349]:
df = pd.read_csv('/content/Uncleaned_DS_jobs.csv')

In [350]:
df.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

## **check if the dataset contains Null values**

In [351]:
df.isnull().sum()

index                0
Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
dtype: int64

## **replace the columns that have space between 2 words to '_'**

In [352]:
col=[col.strip().replace(" ","_").lower() for col in df.columns]
df.columns = col
df.columns

Index(['index', 'job_title', 'salary_estimate', 'job_description', 'rating',
       'company_name', 'location', 'headquarters', 'size', 'founded',
       'type_of_ownership', 'industry', 'sector', 'revenue', 'competitors'],
      dtype='object')

## **create a function to change the title of the position**

In [353]:
def get_position(x):
  if 'scientist' in x.lower() and 'machine learning' in x.lower():
    return 'Data Science/Machine Learning'
  elif 'machine learning' in x.lower() and 'deep learning' in x.lower():
    return 'Machine Learning/Deep Learning'
  elif 'machine learning' in x.lower() and 'computer vision' in x.lower():
    return 'Machine Learning/Computer Vision'
  elif 'deep learning' in x.lower() and 'computer vision' in x.lower():
    return 'Deep Learning/Computer Vision'
  elif 'scientist' in x.lower() or 'science' in x.lower():
    return 'Data Science'
  elif 'analyst' in x.lower() or 'analysis' in x.lower() or 'analytics' in x.lower():
    return 'Data Analysis'
  elif 'business' in x.lower() :
    return 'Business Intelligence'
  elif 'engineer' in x.lower() :
    return 'Data Engineer'
  elif 'machine learning' in x.lower():
    return 'Machine Learrning'
  elif 'architect' in x.lower():
    return 'Data Architecture'
  else:
    return 'Data Modeler'

## **apply it on job_title**

In [354]:
df['job_title'] = df['job_title'].apply(get_position)
df['job_title']

0      Data Science
1      Data Science
2      Data Science
3      Data Science
4      Data Science
           ...
667    Data Science
668    Data Science
669    Data Science
670    Data Science
671    Data Science
Name: job_title, Length: 672, dtype: object

## **extract the min/max salary from salary_estimate**

In [355]:
df['salary_estimate'] = df['salary_estimate'].str.replace('$','')
df['salary_estimate'] = df['salary_estimate'].str.replace('K','')
df['min_salary'] = df['salary_estimate'].apply(lambda x :int(x.split('(')[0].split('-')[0]))
df['max_salary'] = df['salary_estimate'].apply(lambda x :int(x.split('(')[0].split('-')[1]))

<ipython-input-355-1de042c4b791>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['salary_estimate'] = df['salary_estimate'].str.replace('$','')

## **extract the name of the company**

In [356]:
df['company_name'] = df['company_name'].apply(lambda x : x.split('\n')[0])

## **extract the code of the state**

In [357]:
df['state']=df['location'].apply(lambda x:x.split(',')[-1])

## **remove the extra words to extract the numbers**

In [358]:
df['size'] = df['size'].str.replace('to','-').str.replace('employees','').str.replace('+','').replace('-1',0).replace('Unknown',0)

<ipython-input-358-917eb26f1ff7>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['size'] = df['size'].str.replace('to','-').str.replace('employees','').str.replace('+','').replace('-1',0).replace('Unknown',0)

## **extract min and max employees**

In [359]:
df['min_employees'] = df['size'].astype(str).apply(lambda x : int(x.split()[0]))
df['max_employees'] = df['size'].astype(str).apply(lambda x : int(x.split()[-1]))

## **Count the number of years since the company was established.**

In [361]:
df['established'] = df['founded'].apply(lambda x :  0 if x<1 else 2024-x )

## **drop some of unnecessary columns**

In [362]:
df = df.drop(['index','job_title','salary_estimate','location','headquarters','size','founded','sector','competitors'],axis=1)

## **remove the extra characters to extract the numbers**

In [363]:
df['revenue'] = df['revenue'].str.replace('$','').str.replace('to','-').str.replace(' billion','000000000').str.replace(' million ',
  '000000').str.replace('USD','').str.replace('(','').str.replace(')','').str.replace('/','').str.replace('Non-Applicable','').str.replace('Unknown','0').str.replace('-1',
  '0').str.replace('+','').str.replace('Less than','')

<ipython-input-363-167c7e5daed2>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['revenue'] = df['revenue'].str.replace('$','').str.replace('to','-').str.replace(' billion','000000000').str.replace(' million ',
<ipython-input-363-167c7e5daed2>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  '000000').str.replace('USD','').str.replace('(','').str.replace(')','').str.replace('/','').str.replace('Non-Applicable','').str.replace('Unknown','0').str.replace('-1',
<ipython-input-363-167c7e5daed2>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  '0').str.replace('+','').str.replace('Less than','')

## **extract min and max revenue**

In [369]:
df['min_revenue'] = df['revenue'].apply(lambda x : int(x.split('-')[0]))
df['max_revenue'] = df['revenue'].apply(lambda x : int(x.split('-')[-1]))

## **drop the revenue after take the number from it**

In [380]:
df.drop('revenue',axis = 1,inplace=True)

## **remove the extra spaces**

In [381]:
df['job_description'] = df['job_description'].str.replace('\n',' ')